$light-grey : #e0e0e0;

$normal: $light-grey;
$normal-hover: #f0f0f0;

$hightlight: #06129a;
$hightlight-hover: #222c9d;

$btn-operator-text: white;
$btn-numberic-text: black;

$result-text: white;
$result-background: #858694;

$font-familiy: arial;
