<div>
  <CalcButton name="AC" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="+/-" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="%" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton highlight=true name="÷" (buttonPressed)="OnPressed($event)"></CalcButton>
</div>
<!--<div>
  <CalcButton name="7" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="8" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="9" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton highlight=true name="x" (buttonPressed)="OnPressed($event)"></CalcButton>
</div>
<div>
  <CalcButton name="4" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="5" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="6" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton highlight=true name="-" (buttonPressed)="OnPressed($event)"></CalcButton>
</div>
<div>
  <CalcButton name="1" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="2" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="3" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton highlight=true name="+" (buttonPressed)="OnPressed($event)"></CalcButton>
</div>
<div>
  <CalcButton wide=true name="0" (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton name="." (buttonPressed)="OnPressed($event)"></CalcButton>
  <CalcButton highlight=true name="=" (buttonPressed)="OnPressed($event)"></CalcButton>
</div>-->
